<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <!-- loginform -->
      <form>
        <div class="form-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="form-group">

          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary bt_margin">Register</button>
      </form>
      <!-- //loginform -->

      <!-- welcomeform -->
      <h3>welcome</h3>
      <button type="submit" class="btn btn-primary">Logout</button>
      <!-- //welcomeform -->
    </div>
  </div>