<div class="tab-pane fade pl-0 pr-0 mt-2" id="control">
    <div style="text-align: right;">
        <button id="bt-1">Button 1</button>
    </div>
    <div class="row my-5">
        <div class="col">
            <button id="bt-2" class="w-100">Button 2</button>
        </div>
        <div class="col"></div>
        <div class="col">
            <button id="bt-3" class="w-100">Button 3</button>
        </div>
    </div>

    <div class="row my-5">
        <div class="col">
            <button id="bt-4" class="w-100">Button 4</button>
        </div>
        <div class="col"></div>
        <div class="col">
            <button id="bt-5" class="w-100">Button 5</button>
        </div>
    </div>

    <div class="row my-5">
        <div class="col">
            <button id="bt-6" class="w-100">Button 6</button>
        </div>
        <div class="col"></div>
        <div class="col">
            <button id="bt-7" class="w-100">Button 7</button>
        </div>
    </div>
</div>