<nav class="navbar navbar-expand-sm bg-success navbar-dark d-flex justify-content-center">
    <div class="d-flex justify-content-center" >
        GIÁM SÁT CÁC THÔNG SỐ CỦA HỆ THÔNG BƠM BLDC VỚI NĂNG LƯỢNG MẶT TRỜI
     </div>     
</nav>