<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <ul class="navbar-nav container">
        <li class="nav-item active">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item justify-content-end">
            <a href="#" class="nav-link">About us</a>
        </li>
    </ul>
</nav>