<form>
  <link rel="stylesheet" href="take.css">
  <script src = "socket.io/socket.io.js"></script>
  <script src = "login.js"></script>
  <div class="imgcontainer">
    <img src="./image/bk1.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input id="username" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id="pwd" type="password" placeholder="Enter Password" name="psw" required>

    <button id="submit">Login</button>
    <label>
      <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
    </label>
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>