<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#real-time">
            Real-Time Data
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#statistics">
            Statistics Data
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#control">
            Control
        </a>
    </li>
</ul>