<div class="tab-pane active p1-0 pr-0 mt-3" id="setting">
    <form action="#" method="POST" style="margin: 0 0 1em 0;">
        <button id="get_setting" class="w-100">get selected setting</button>
        <button id="set_setting" class="w-100">set selected setting</button>
    </form>


</div>