<div class="tab-pane fade pl-0 pr-0 mt-2" id="statistics">
    <!-- Today -->
    <div class="heading">
        <b>Today</b>
    </div>
    <div class="row">
        <div class="col">
            <label>PV Voltage:</label>
            <div class="row">
                <div class="col">
                    <textarea readonly id="min_pv_vol_today" rows="1">150</textarea>
                    <label class="separator ml-1 mr-1" style="text-align: center;">-</label>
                    <textarea readonly id="max_pv_vol_today" rows="1">150</textarea>
                    <label class="unit ml-1">(V)</label>
                </div>
            </div>
        </div>
        <div class="col">
            <label>Consumed Energy:</label>
            <div>
                <textarea readonly id="con_energy_today" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
        <div class="col">
            <label>Generated Energy:</label>
            <div>
                <textarea readonly id="gen_energy_today" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
    </div>

    <!-- This month -->
    <div class="heading">
        <b>This Month</b>
    </div>
    <div class="row">
        
        <div class="col">
            <label>Consumed Energy:</label>
            <div>
                <textarea readonly id="con_energy_month" rows="1">100</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
        <div class="col">
            <label>Generated Energy:</label>
            <div>
                <textarea readonly id="gen_energy_month" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
    </div>

    <!-- This year -->
    <div class="heading">
        <b>This year</b>
    </div>
    <div class="row">
        
        <div class="col">
            <label>Consumed Energy:</label>
            <div>
                <textarea readonly id="con_energy_year" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
        <div class="col">
            <label>Generated Energy - This Year:</label>
            <div>
                <textarea readonly id="gen_energy_year" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
    </div>

    <!-- Total -->
    <div class="heading">
        <b>Total</b>
    </div>
    <div class="row">
        
        <div class="col">
            <label>Consumed Energy:</label>
            <div>
                <textarea readonly id="total_con_energy" rows="1">050</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
        <div class="col">
            <label>Generated Energy:</label>
            <div>
                <textarea readonly id="total_gen_energy" rows="1">150</textarea>
                <label class="unit">(V)</label>
            </div>
        </div>
    </div>
</div>