<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>testing</title>
	<script src="jquery.js"></script>
	<script src = "socket.io/socket.io.js"></script>
	<script src = "process.js">
		
	</script>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<div id = "send">
		<div id = "send1">
			<span style="color: red; font-size: 12px">là cái gì</span>
			<span>ok= i</span>
			<input type="text" id="input"/>
			<input type="text" id="input1"/>
			<input type="button" id ="nut" name="ok">
		</div>
		<div id = "send2">xin chao 1</div>
	</div>
</body>
</html>