<!DOCTYPE html>
<!-- Author: Nguyen Thanh Cong (RBVH/EDA23) || cong.nguyenthanh2@bosch.com-->
<html>


<!--|--------------------------------|   
    |                                |
    |           HEAD PART            |
    |                                | 
    |--------------------------------|-->
<head>
    <% include ../partials/partials-header.ejs  %>
    <% include ../partials/partials-source.ejs  %>     
</head>


<!--|--------------------------------|   
    |                                |
    |           BODY PART            |
    |                                | 
    |--------------------------------|-->
<body class="hold-transition skin-blue sidebar-mini" >
    <div class="wrapper">

        <!--|--------------------------------|   
            |         MAIN HEADER            |
            |--------------------------------|-->
            
        <header class="main-header">
            <% include ../partials/partials-body-header.ejs  %> 

        </header>

        <!--|--------------------------------|   
            |         MAIN SIDEBAR           |
            |--------------------------------|-->
        <aside class="main-sidebar">
            <% include ../partials/partials-menu-bar.ejs  %> 

        </aside> 

        
        <!--|--------------------------------|   
            |          CONTENT PART          |
            |--------------------------------|-->
        <div class="content-wrapper">
    
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Administration
                    <div class = "pagePath">
                        <i class="fas fa-link"></i>
                        <a href="/home">home</a>
                        <span> / </span>
                        <a href="/admin">admin</a>
                    </div>
                </h1>
            </section>
            
                
            <!-- Main content -->
            <section class="content container-fluid">

                <!--|-----------------------|
                    | Your Page Content Here|
                    |-----------------------|-->
                
            </section>

        </div>
    

        <!--|--------------------------------|   
            |          FOOTER PART           |
            |--------------------------------|-->
        
        <% include ../partials/partials-footer.ejs  %> 
        
    </div>

    
</body>

</html>