<!DOCTYPE html>
<!-- Author: Nguyen Thanh Cong (RBVH/EDA23) || cong.nguyenthanh2@bosch.com-->
<html>


<!--|--------------------------------|   
    |                                |
    |           HEAD PART            |
    |                                | 
    |--------------------------------|-->
<head>
    <% include ../partials/partials-header.ejs  %>
    <% include ../partials/partials-source.ejs  %>
    <script src="models.user_data_handler.js"></script>
</head>


<!--|--------------------------------|   
    |                                |
    |           BODY PART            |
    |                                | 
    |--------------------------------|-->
<body class="hold-transition skin-blue sidebar-mini" >
    <div>
        <!--|--------------------------------|   
            |         MAIN HEADER            |
            |--------------------------------|-->
        <header class="main-header">
            
            <!-- Header Navbar -->
            <img src="/image/bosch-graphic.jpg" class = "boschGraphic" alt="Bosch Graphic">
            <nav class="navbar navbar-static-top"role="navigation" style="background-color:midnightblue; margin-left: auto;">
                <!-- Sidebar toggle button-->
                
                <a href="https://www.bosch.com.vn/" target="_blank" > 
                    <img src="/image/bosch-logo.png" class = "boschLogo" alt="Bosch logo"  >
                </a>
                
                
            
                <!--|--------------------------------|   
                    |         USER FORM              |
                    |--------------------------------|-->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <button href="#" class="dropdown-toggle account" data-toggle="dropdown"  style="color: white;">
                        <img src="/image/avatar.png" class="avatar" alt="User Image" >
                        <span class="hidden-xs">Member</span>
                    </button>
                    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/signin" class="useraccount" type ="button">
                                <span class = "useraccount">Sign In</span>
                            </a>
                        </li>
                        <hr style="margin-top:10px !important; margin-bottom: 10px !important;color:green !important">
                        <li>
                            <a href="/signup" class="useraccount" type ="button">
                                <span class = "useraccount">Sign Up</span>
                            </a>
                        </li>
            
                    </ul>
                    
                    
                </li>
            </nav>

        </header>

        
        <!--|--------------------------------|   
            |          CONTENT PART          |
            |--------------------------------|-->
        <div class="content-wrapper boschPage" style="margin-left:auto;">
           
        </div>

        <!--|--------------------------------|   
            |          FOOTER PART           |
            |--------------------------------|-->
        
        <footer class="main-footer" style ="margin-left:auto">
            <!-- Default to the left -->
            <strong> Robert Bosch Engineering and Business Solutions Vietnam  <a href="https://www.bosch.com.vn/" target="_blank" style = "color: blue;"> www.bosch.com.vn</a></strong>
            <strong class = "versionPositionFooter">Version1.0</strong>
        </footer>
            
            
        
    </div>

    
</body>

</html>