<!DOCTYPE html>
<!-- Author: Nguyen Thanh Cong (RBVH/EDA23) || cong.nguyenthanh2@bosch.com-->
<html>


<!--|--------------------------------|   
    |                                |
    |           HEAD PART            |
    |                                | 
    |--------------------------------|-->
<head>
    <% include ../partials/partials-header.ejs  %>
    <% include ../partials/partials-source.ejs  %>     
</head>


<!--|--------------------------------|   
    |                                |
    |           BODY PART            |
    |                                | 
    |--------------------------------|-->
<body class="hold-transition skin-blue sidebar-mini" >
    <div>
        <!--|--------------------------------|   
            |         MAIN HEADER            |
            |--------------------------------|-->
        <header class="main-header">
            
            <!-- Header Navbar -->
            <img src="/image/bosch-graphic.jpg" class = "boschGraphic" alt="Bosch Graphic">
            <nav class="navbar navbar-static-top"role="navigation" style="background-color:midnightblue; margin-left: auto;">
                <!-- Sidebar toggle button-->
                
                <a href="https://www.bosch.com.vn/" target="_blank" > 
                    <img src="/image/bosch-logo.png" class = "boschLogo" alt="Bosch logo"  >
                </a>
                
                
            
                <!--|--------------------------------|   
                    |         USER FORM              |
                    |--------------------------------|-->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <button href="#" class="dropdown-toggle account" data-toggle="dropdown" style = "color:white">
                        <img src="/image/avatar.png" class="avatar" alt="User Image" >
                        <span class="hidden-xs">Member</span>
                    </button>
                    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/signin" class="useraccount" type="button"> 
                                <span class = "useraccount">Sign In</span>
                            </a>
                        </li>
                        <hr style="margin-top:10px !important; margin-bottom: 10px !important;color:green !important">
                        <li>
                            <a href="/signup" class="useraccount" type="button">
                                <span class = "useraccount">Sign Up</span>
                            </a>
                        </li>
            
                    </ul>
                    
                    
                </li>
            </nav>

        </header>

        
        <!--|--------------------------------|   
            |          CONTENT PART          |
            |--------------------------------|-->
        <div class="content-wrapper imageAsSignInBackground" style="margin-left: auto;" >
            
            <!-- Main content -->
            <section class="content container-fluid " style="width:max-content">
                <form class="modal-content container-fluid" method="POST" action="/signInSuccessful">
                    <div class="titleContainer">
                        <b>SIGN IN</b>
                    </div>
                    <div class="container">
                        <div class = "verticalSpace"></div>         
                        <i class="fa fa-id-badge formIcon" style="margin-right:30px"></i>
                        <input type="text" placeholder="User ID"  class ="formStyleInput" name="userid_signin" required> <br>
                        <div class = "verticalSpace"></div>
                        <div class = "verticalSpace"></div>      
                        <i class="fa fa-sitemap formIcon" style="margin-right:20px"></i>    
                        <select class = "formStyleSelect" name ="teamrole_signin" required>
                            <option value="admin">Admin</option>
                            <option value="leader">Leader</soption>
                            <option value="labCoord">Lab Coordinator</option>
                            <option value="member">Member</option>
                        </select>
                        <div class = "verticalSpace"></div>
                        <div class = "verticalSpace"></div>      
                        <div>
                            <input class = "signbtn" type = "submit" value = "Send">  
                        </div> 
                    </div>
                </form>  
            </section>

        </div>

        <!--|--------------------------------|   
            |          FOOTER PART           |
            |--------------------------------|-->
        
            <footer class="main-footer" style ="margin-left:auto">
                <!-- Default to the left -->
                <strong> Robert Bosch Engineering and Business Solutions Vietnam  <a href="https://www.bosch.com.vn/" target="_blank" style = "color: blue;"> www.bosch.com.vn</a></strong>
                <strong class = "versionPositionFooter">Version1.0</strong>
            </footer>
            
            
        
    </div>

    
</body>

</html>