<!DOCTYPE html>
<!-- Author: Nguyen Thanh Cong (RBVH/EDA23) || cong.nguyenthanh2@bosch.com-->
<html>


<!--|--------------------------------|   
    |                                |
    |           HEAD PART            |
    |                                | 
    |--------------------------------|-->
<head>
    <% include ../partials/partials-header.ejs  %>
    <% include ../partials/partials-source.ejs  %>     
</head>


<!--|--------------------------------|   
    |                                |
    |           BODY PART            |
    |                                | 
    |--------------------------------|-->
<body class="hold-transition skin-blue sidebar-mini" >
    <div class="wrapper">

        <!--|--------------------------------|   
            |         MAIN HEADER            |
            |--------------------------------|-->
            
        <header class="main-header">
            <% include ../partials/partials-body-header.ejs  %> 
            
        </header>

        <!--|--------------------------------|   
            |         MAIN SIDEBAR           |
            |--------------------------------|-->
        <aside class="main-sidebar">
            <% include ../partials/partials-menu-bar.ejs  %> 

        </aside> 

        
        <!--|--------------------------------|   
            |          CONTENT PART          |
            |--------------------------------|-->
        <div class="content-wrapper">
            
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>Icons
                    <div class = "pagePath">
                        <i class="fas fa-link"></i>
                        <a href="/home">home</a>
                        <span> / </span>
                        <a href="/license">license</a>
                    </div>
                </h1>
                
            </section>
            

            <!-- Main content -->
            <section class="content container-fluid">
                <div class = "licenseZone">
                    <div class = "licenseIconList">
                        <i class="fa fa-home licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-home</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-cogs licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-cogs</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-user licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-user</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-tasks licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-tasks</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-angle-left licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-angle-left</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-circle licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-circle</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="far fa-circle licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>far fa-circle</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-desktop licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-desktop</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-cog licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-cog</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-share-alt licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-share-alt</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fas fa-cloud  licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fas fa-cloud </p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fas fa-search licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fas fa-search</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fa fa-bars licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fa fa-bars</p>
                    </div>
                    <div class = "licenseIconList">
                        <i class="fas fa-link licenseIconStyle"></i>
                        <div class = "verticalSpace"></div>
                        <p>fas fa-link</p>
                    </div>
                    
                </div>

            </section>


            <section class="content-header">
                <h1>Platform</h1>   
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class = "licenseZone">
                    <table>
                        <!-- Platform table header -->
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Link</th>
                        </tr>
                        <!-- Platform table content -->
                        <tr>
                            <td>MongoDB</td>
                            <td>3.5.7</td>
                            <td> 
                                <a href="https://github.com/mongodb/mongo" target="_blank">
                                    github.com/mongodb/mongo
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Express</td>
                            <td>4.16.4</td>
                            <td> 
                                <a href="https://github.com/expressjs/express" target="_blank">
                                    github.com/expressjs/express
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>AngularJS</td>
                            <td>0.0.1</td>
                            <td> 
                                <a href="https://github.com/angular/angular.js/" target="_blank">
                                    github.com/angular/angular.js/
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>NodeJS</td>
                            <td>10.15.3</td>
                            <td> 
                                <a href="https://github.com/nodejs" target="_blank">
                                    github.com/nodejs
                                </a>
                            </td>
                        </tr>
                    </table>
                    
                </div>

            </section>
            <section class="content-header">
                <h1>Node Module</h1>   
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div class = "licenseZone">
                    <table>
                        <!-- Node module table header -->
                        <tr>
                            <th>Package</th>
                            <th>Version</th>
                            <th>Link</th>
                        </tr>

                        <!-- Node module table content -->
                        <tr>
                            <td>admin-lte</td>
                            <td>2.4.10</td>
                            <td> 
                                <a href="https://github.com/ColorlibHQ/AdminLTE" target="_blank">
                                    github.com/ColorlibHQ/AdminLTE
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>assets</td>
                            <td>3.0.1</td>
                            <td> 
                                <a href="https://github.com/borodean/assets" target="_blank">
                                    github.com/borodean/assets
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>bootstrap</td>
                            <td>4.5.0</td>
                            <td> 
                                <a href="https://github.com/twbs/bootstrap" target="_blank">
                                    github.com/twbs/bootstrap
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>canvasjs</td>
                            <td>1.8.1</td>
                            <td> 
                                <a href="https://github.com/Tsur/canvasjs" target="_blank">
                                    github.com/Tsur/canvasjs
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>cookie-parser</td>
                            <td>1.4.3</td>
                            <td> 
                                <a href="https://github.com/expressjs/cookie-parser" target="_blank">
                                    github.com/expressjs/cookie-parser
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>debug</td>
                            <td>2.6.9</td>
                            <td> 
                                <a href="https://github.com/visionmedia/debug" target="_blank">
                                    github.com/visionmedia/debug
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>document</td>
                            <td>0.4.7</td>
                            <td> 
                                <a href="https://github.com/kaelzhang/document" target="_blank">
                                    github.com/kaelzhang/document
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>ejs</td>
                            <td>2.6.1</td>
                            <td> 
                                <a href="https://github.com/mde/ejs" target="_blank">
                                    github.com/mde/ejs
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>font-awesome</td>
                            <td>4.7.0</td>
                            <td> 
                                <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">
                                    github.com/FortAwesome/Font-Awesome
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>fs</td>
                            <td>0.0.1-security</td>
                            <td> 
                                <a href="https://github.com/npm/security-holder" target="_blank">
                                    github.com/npm/security-holder
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>http-errors</td>
                            <td>1.6.3</td>
                            <td> 
                                <a href="https://github.com/jshttp/http-errors" target="_blank">
                                    github.com/jshttp/http-errors
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>ionicons</td>
                            <td>4.2.5</td>
                            <td> 
                                <a href="https://github.com/ionic-team/ionicons" target="_blank">
                                    github.com/ionic-team/ionicons
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>jquery</td>
                            <td>3.5.1</td>
                            <td> 
                                <a href="https://github.com/jquery/jquery" target="_blank">
                                    github.com/jquery/jquery
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>morgan</td>
                            <td>1.9.1</td>
                            <td> 
                                <a href="https://github.com/expressjs/morgan" target="_blank">
                                    github.com/expressjs/morgan
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>npm</td>
                            <td>6.14.5</td>
                            <td> 
                                <a href="https://github.com/npm/cli" target="_blank">
                                    github.com/npm/cli
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>pipe</td>
                            <td>1.1.0</td>
                            <td> 
                                <a href="https://github.com/heapwolf/pipe" target="_blank">
                                    github.com/heapwolf/pipe
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>popups</td>
                            <td>1.1.3</td>
                            <td> 
                                <a href="https://github.com/ChiefORZ/popupS" target="_blank">
                                    github.com/ChiefORZ/popupS
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>q</td>
                            <td>1.5.1</td>
                            <td> 
                                <a href="https://github.com/kriskowal/q" target="_blank">
                                    github.com/kriskowal/q
                                </a>
                            </td>
                        </tr>
                        <tr> 
                            <td>skins</td>
                            <td>1.0.16</td>
                            <td>
                                <a href="https://github.com/fantasyui-com/skins" target="_blank">
                                    github.com/fantasyui-com/skins
                                </a>
                            </td>
                        </tr>
                    </table>
                    
                </div>

            </section>
        </div>

        <!--|--------------------------------|   
            |          FOOTER PART           |
            |--------------------------------|-->
        
        <% include ../partials/partials-footer.ejs  %> 
        
    </div>

    
</body>

</html>