<section class="sidebar" style="position: fixed; width: inherit;">

    <!--|--------------------------------|   
        |          SIDE BAR MENU         |
        |--------------------------------|-->
    <ul class="sidebar-menu"  data-widget="tree" >
        
            <!-- HOME ITEM -->
            <li>
                <a href="/home" class = "borderItem">
                    <i class="fa fa-home menuBarMainObjectIconStyle"></i>
                    <span>Home</span>
                </a>    
            </li>
            <li>
                <a href="/admin" class = "borderItem">
                    <i class="fa fa-cogs menuBarMainObjectIconStyle"></i>
                    <span>Admin</span>
                </a>    
            </li>
            <li>
                <a href="/teamMember" class = "borderItem">
                    <i class="fa fa-user menuBarMainObjectIconStyle" aria-hidden="true"></i>
                    <span>Team Member</span>
                </a>    
            </li>
            <li class="treeview">
                <a class = "borderItem">
                    <i class="fa fa-tasks menuBarMainObjectIconStyle" aria-hidden="true"></i>
                    <span>Task Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/projectPlan" class = "borderItem">
                            <i class="fa fa-circle menuBarSubObjectIconStyle" aria-hidden="true" ></i>
                            <span>Project Plan</span>   
                        </a>
                    </li> 
                    <li>
                        <a href="/leader" class = "borderItem">
                            <i class="fa fa-circle menuBarSubObjectIconStyle" aria-hidden="true" ></i>
                            <span>Leader</span>   
                        </a>
                    </li> 
                    <li class="treeview">
                        <a class = "borderItem">
                            <i class="fa fa-circle menuBarSubObjectIconStyle" aria-hidden="true"></i>
                            <span>Member</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/standardTask" class = "borderItem">
                                    <i class="far fa-circle menuBarChildObjectIconStyle" aria-hidden="true" ></i>
                                    
                                    <span>Standard Task</span>   
                                </a>
                            </li> 
                            <li>
                                <a href="/competencyPlan" class = "borderItem">
                                    <i class="far fa-circle menuBarChildObjectIconStyle" aria-hidden="true" ></i>
                                    
                                    <span>Competency Plan</span>   
                                </a>
                            </li>                    
                        </ul>
                    </li>                 
                </ul>
            </li> 
            <li class="treeview">
                <a class = "borderItem">
                    <i class="fa fa-desktop menuBarMainObjectIconStyle" aria-hidden="true"></i>
                    <span>Lab Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/labBooking" class = "borderItem">
                            <i class="fa fa-circle menuBarSubObjectIconStyle" aria-hidden="true" ></i>
                            <span>Lab Booking</span>   
                        </a>
                    </li> 
                    <li>
                        <a href="/labEquipment" class = "borderItem">
                            <i class="fa fa-circle menuBarSubObjectIconStyle" aria-hidden="true" ></i>
                            <span>Lab Equipment</span>   
                        </a>
                    </li>                     
                </ul>    
            </li>
            <li>
                <a href="/internalTool" class = "borderItem">
                    <i class="fa fa-cog menuBarMainObjectIconStyle" aria-hidden="true"></i>
                    <span>Internal Tool</span>
                </a>    
            </li>
            <li>
                <a href="/license" class = "borderItem">
                    <i class="fa fa-share-alt menuBarMainObjectIconStyle" aria-hidden="true"></i>
                    <span>License</span>
                </a>    
            </li>
    </ul>

</section>