<footer class="main-footer">
    <!-- Default to the left -->
    <strong> Robert Bosch Engineering and Business Solutions Vietnam  <a href="https://www.bosch.com.vn/" target="_blank" style = "color: blue;"> www.bosch.com.vn</a></strong>
    <strong class = "versionPositionFooter">Version1.0</strong>
</footer>

