<a class="logo" style="position: fixed;">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><i class="fas fa-cloud pageTitle"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span>
        <p class = "pageTitle">TEAM MANAGEMENT</p>
    </span> 
</a>  

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation" style="background-color:purple; position:fixed; width: -moz-available;">
    <!-- Sidebar toggle button-->
    <a href="#" class="fa fa-bars" style = "color:wheat"data-toggle="push-menu" role="button"></a>
    <div class="searchBar searchButton">
        <i class="fas fa-search "></i>
        <input type="text" name="q" class="form-control searchForm" placeholder="Search...">
    </div>

    <!--|--------------------------------|   
        |         USER FORM              |
        |--------------------------------|-->
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <button href="#" class="dropdown-toggle account" data-toggle="dropdown">
            <img src="/image/avatar.jpg" class="avatar" alt="User Image" >
            <span class="hidden-xs"></span>
        </button>
        
        <ul class="dropdown-menu" style="left:10px !important">
            <li>
                <a href="#" class="useraccount" type="button">
                    <span class = "useraccount">Account Management</span>
                </a>
            </li>
            <hr style="margin-top:10px !important; margin-bottom: 10px !important;">
            <li>
                <a href="/signin" class="useraccount" type="button">
                    <span class = "useraccount">Sign Out</span>
                </a>
            </li>

        </ul>
        <a href="https://www.bosch.com.vn/" target="_blank" > 
            <img src="/image/bosch-logo.png" class = "boschLogo" alt="Bosch logo"  >
        </a>
        
    </li>
</nav>