/* Set a style for all buttons */

.account{
    width: fit-content;
    border:none;
    color: wheat;
}

.account:hover{
    color:white;
    border:none;    
    cursor: pointer;
}

.account:focus{
    outline: none;
}

.signbtn{
    right:0px;
    color: white;
    font-weight: normal;
    font-family:  Verdana,sans-serif;
    background-color:darkviolet;
    cursor: pointer;
    margin:3px;
    border:none;
    font-size:15px;
    padding: 5px 50px 5px 50px;
    border-radius: 30px;
  }
  
.signbtn:hover{
  background-color:darkviolet;
  color: white;
  font-weight: bolder;
}

.signbtn:focus {outline:0;}


.searchButton{
  color:wheat;
  margin-left: 30px;
  cursor: pointer;
  animation-name: searchButton_close;
  animation-duration: 0.5s;
}

.searchButton .searchForm{
  display: none;
  margin-left: 15px;
  width: 200px;
  border:none !important;
  background: whitesmoke;
  border-radius:40px !important;
}

.searchButton:hover{
  color:red;
  font-size:20px;
  animation-name: searchButton_open;
  animation-duration: 0.5s;
}

.searchButton:hover .searchForm{
  display: inline;
  animation-name: searchForm_open;
  animation-duration: 1s;
}

@keyframes searchForm_open{
  from{width: 0px;}
  to{width: 200px;}
}

@keyframes searchButton_open{
  from{
    font-size: 15px;
    color: wheat;
  }
  to{
    font-size: 20px;
    color:red;
  }
}
@keyframes searchButton_close{
  from{
    font-size: 20px;
    color:red;
  }
  to{
    font-size: 15px;
    color:wheat;
  }
}
