/* Toolbar background style */
.backGroundToolbar{
    position: fixed;
    text-align: center;
    right: 0;   
    width: 35px;
    height: 100px;
    top:100px;
    margin-right: 10px;
    border-style: solid;
    border-width: thin;
    border-radius: 50px;
    border-color: purple;  
}


.toolBarIconStyle{
    color:purple !important;
    font-size: 20px;
    margin-top:10px;
    animation-name: toolBarObject_out;
    animation-duration: 0.3s;
    
}
.toolBarIconStyle .toolBarTitle{
    display:none;
    color: purple;
    font-size: 15px;
    position: fixed;
    right: 55px;
    margin-top: 6px;
    animation-name: toolBarTitle;
    animation-duration: 0.3s;

}
.toolBarIconStyle:hover .toolBarTitle{
    display: table;  
}
.toolBarIconStyle:hover{
    font-size:25px;
    animation-name: toolBarObject;
    animation-duration: 0.3s;
}
@keyframes toolBarObject {
    from {font-size:20px;}
    to {font-size:25px;}
}
@keyframes toolBarObject_out {
    from {font-size:25px;}
    to {font-size:20px;}
}
@keyframes toolBarTitle {
    from {font-size:10px;}
    to {font-size:15px;}
}