body {font-family: Arial, Helvetica, sans-serif;}

li{
    cursor: pointer;
    list-style: none !important;
}
/* Full-width input fields */
input{
    width: fit-content;
    padding: 2px 15px;
    display: inline-block;
    border: 1px solid rgb(199, 150, 245);
    box-sizing: border-box;
    text-align: left !important;
    border-radius: 30px;
}

input:focus{
    outline: none;
}

input[type="uppercaseText"]{
    text-transform: uppercase;
}
.searchBar{
    float:left;
    position:absolute;
    margin-left: 30px;
}
select:focus{
    outline:none;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    margin-right:10px;
}

.avatar
{
    width:  30px !important;
    height: 30px !important;

}

.boschLogo{
    width:  90px !important;
    height: 20px !important;
}

.boschGraphic{
    width:  100%;
    height: 27px;
}

.boschPage{
    background-image: url('/image/bosch-page1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.imageAsSignInBackground{
    background-image: url('/image/bosch-page2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}
.imageAsSignUpBackground{
    background-image: url('/image/bosch-page3.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.imageAsSignUpSuccessBackground{
    background-image: url('/image/success1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1 ;
   
}

.imageAsHomeBackground{
    width: 100%;
}
.container {
    padding:21px;
    width: 100% !important;
    font-size: 15px;
    margin-right: 5px !important;
    margin-left: 5px !important;
    max-height: calc(128vh - 210px);
    overflow-y: auto;
   
}

span.psw {
    float: right;
    padding-top: 0px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto; /* 5% from the top, 15% from the bottom and centered */
    width: fit-content !important; /* Could be more or less, depending on screen size */
    border-radius:15px !important;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 7px;
    top: 0;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.useraccount:hover
{
    background: white !important;
    cursor: pointer; 
    font-weight: bolder;
    outline-color: white;
    
}
.useraccount
{
    padding-bottom: 2px;
    padding-top:2px;
    font-size: 13px;
    color: black !important;
    text-align: center;
    background-color:white;
    border:none;

}
.dropdown-menu
{
    position: absolute !important;
    right:0;
    margin-top: 10px !important;
    left: -80px !important;
    text-align: center !important;
    background-color: white !important;
    padding-left: 10px !important; 
    padding-right: 10px !important;
    width: 200px !important;
    border-color:rgb(7, 185, 7) !important;

}
.dropdown-toggle{
    background: border-box !important;
}
.dropdown
{
    list-style: none !important;  
}


.logo{
    background-color:#222d32 !important;
    color: white !important;
    font-size: 20px !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.borderItem{
    border-bottom-color: rgb(85, 83, 83) !important;
    border-bottom-style: inset !important;  
    border-bottom-width: 0.5px !important;
    padding:12px !important;
  }

.centerContent{
    text-align: center !important;
    align-items: center !important;
}

.horizontalSpace{
    padding-right:20px;
    display:inline-block;
}

.verticalSpace{
    padding-top: 20px;
}

.titleContainer{
    background-color:midnightblue;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 40px;
    color:white  ;
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;  
    border-radius:15px 15px 0px 0px;
    font-weight: lighter !important;
}

.formStyleInput{
    width: 355px;
    height: 35px;
    border-radius: 40px;
    border-width: 1px;
    border-color: blueviolet;
    padding-left: 20px;
}

.formStyleSelect{
    width: 355px;
    height: 35px;
    border-radius: 40px;
    border-width: 1px;
    border-color: blueviolet;
    padding-left: 20px;
}

.contentModal{
    width: fit-content;
    height: 400px;
    display: auto;
    overflow-y:scroll;
}

.sidebar-form input[type = 'text']{
    margin:-1px !important;
}

/* .content-wrapper{
    background-color:white !important;
} */

.main-footer{
    padding: 7px !important;
    border-top: 0.5px solid #d2d6de !important ;
    font-size: 11px !important;
}

.versionPositionFooter{
    display: inline;
    position: absolute;
    color: green;
    right:0;
    padding-right: 10px;
}

.menuBarMainObjectIconStyle{
    color:rgb(146, 135, 241);
}
.menuBarSubObjectIconStyle{
    color:yellow;
}
.menuBarChildObjectIconStyle{
    color:burlywood;
}

.formIcon{
    font-size: 20px;
}
.pageTitle{
    color: orange;
}

.signUpSuccessful {
    padding: 15px 20px 15px 20px;
    font-weight: lighter;
    color:brown;
    background-color: lightgreen;
   
}

.pagePath{
    font-size: 15px;
    right: 0;
    position: absolute;
    display: inline-block;
    top: 21px;
    margin-right: 15px;
}