<!-- Menu -->
<menu></menu>
<!-- //Menu -->

<!-- slider -->
<slider></slider>
<!-- //slider -->


<!-- content -->

<div class="row">
  <div class="col-lg-3">   
    <!-- Users -->
    <user></user>
    <!-- //Users -->

    <!-- categrories -->
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Cras justo odio
        <span class="badge badge-primary badge-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Dapibus ac facilisis in
        <span class="badge badge-primary badge-pill">2</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Morbi leo risus
        <span class="badge badge-primary badge-pill">1</span>
      </li>
    </ul>
    <!-- //catefrories -->
  </div>
  <div class="col-lg-9">
    2 of 2
  </div>
</div>

<!-- //content -->